USE [master]
GO
/****** Object:  Database [StorageDB]    Script Date: 15.6.2023. 11:59:17 ******/
CREATE DATABASE [StorageDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StorageDB', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\StorageDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'StorageDB_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\StorageDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StorageDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StorageDB]
GO
/****** Object:  Table [dbo].[Products2]    Script Date: 15.6.2023. 11:59:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products2](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nchar](50) NULL,
	[ProductCost] [decimal](10, 2) NULL,
 CONSTRAINT [PK_Products2] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatesOfStorages]    Script Date: 15.6.2023. 11:59:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatesOfStorages](
	[StateOfStorageId] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[StorageId] [int] NOT NULL,
	[Quantity] [int] NULL,
 CONSTRAINT [PK_StatesOfStorages] PRIMARY KEY CLUSTERED 
(
	[StateOfStorageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Storages]    Script Date: 15.6.2023. 11:59:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Storages](
	[StorageId] [int] IDENTITY(1,1) NOT NULL,
	[StorageName] [nchar](255) NULL,
	[KindOfStorage] [nchar](255) NULL,
 CONSTRAINT [PK_Storages] PRIMARY KEY CLUSTERED 
(
	[StorageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[StatesOfStorages]  WITH CHECK ADD  CONSTRAINT [FK_StatesOfStorages_Products2] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products2] ([ProductId])
GO
ALTER TABLE [dbo].[StatesOfStorages] CHECK CONSTRAINT [FK_StatesOfStorages_Products2]
GO
ALTER TABLE [dbo].[StatesOfStorages]  WITH CHECK ADD  CONSTRAINT [FK_StatesOfStorages_Storages] FOREIGN KEY([StorageId])
REFERENCES [dbo].[Storages] ([StorageId])
GO
ALTER TABLE [dbo].[StatesOfStorages] CHECK CONSTRAINT [FK_StatesOfStorages_Storages]
GO
USE [master]
GO
